/* CSS declarations go here */
@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,700,700i|Open+Sans:300,300i,700');

.brand h1 {
	background: url(TM_logo.png) transparent 3px -22px no-repeat;
    background-size: 7%;
    padding-left: 117px;
    font-size: 1.7em !important;
}

.height30{
	height: 30px !important;
}